@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
    min-height: 100vh;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.6;
    color: white;
}

.container{
    width: 800px;
}

.small{
    font-size: 25px;
    letter-spacing: 8px;
    color: rgb(114, 114, 114);
}

div:has(:hover) div:not(:hover){
    filter: blur(2px);
}


span{
    display: inline-block;
   
}


div:has(name:hover) {
    transform: scale(1.1);
} 


.name:hover .bx:nth-child(1){
    transform: translate(-33px,15px) rotate(-15deg);
}

.name:hover span:nth-child(2){
   
    transform: translate(-3px,-15px) rotate(23deg);

}

.name:hover span:nth-child(3){
    
    transform: translate(3px,15px) rotate(25deg);
}

.name:hover span:nth-child(4){
    transform: translate(33px,-15px) rotate(-25deg);

}