@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
    min-height: 100vh;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.6;
    color: white;
}

.container{
    width: 800px;
}

.small{
    font-size: 25px;
    letter-spacing: 8px;
    color: rgb(114, 114, 114);
}

div:has(:hover) div:not(:hover){
    filter: blur(2px);
}